<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="slg.trbackend.admin.mapper.HotelMapper">

  <resultMap id="BaseResultMap" type="slg.trbackend.admin.dto.Hotel">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="location_lat" jdbcType="REAL" property="locationLat" />
    <result column="location_lng" jdbcType="REAL" property="locationLng" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="recommends" jdbcType="REAL" property="recommends" />
  </resultMap>

    <select id="queryHotelListByPrice" resultMap="BaseResultMap" parameterType="slg.trbackend.admin.entity.QueryIndustry">
      select  name , province ,city , area , address , location_lat , location_lng , price   from  hotel
      <where >
        <if test="ScenicAreaProvince != null and ScenicAreaProvince != ''">
          and  province = #{ScenicAreaProvince}
        </if>

        <if test="ScenicAreaCity != null and ScenicAreaCity != ''">
          and city = #{ScenicAreaCity}
        </if>

        <if test="ScenicAreaArea != null and ScenicAreaArea != ''">
          and area = #{ScenicAreaArea}
        </if>
          ORDER BY price asc
      </where>
    </select>

  <select id="queryHotelListByRecommends" resultMap="BaseResultMap" parameterType="slg.trbackend.admin.entity.QueryIndustry">
    select hoteluser.recommend as recommends,
    name , province ,city , area , address , location_lat , location_lng,price
    from  hotel join hoteluser ON hotel.hotelId = hoteluser.hotelId
    <if test="ScenicAreaProvince != null and ScenicAreaProvince != ''">
      and  province = #{ScenicAreaProvince}
    </if>

    <if test="ScenicAreaCity != null and ScenicAreaCity != ''">
      and city = #{ScenicAreaCity}
    </if>

    <if test="ScenicAreaArea != null and ScenicAreaArea != ''">
      and area = #{ScenicAreaArea}
    </if>
    ORDER BY recommends DESC
  </select>

</mapper>